@font-face {
    font-family: "SUIT";
    src: url('font/SUIT-Bold.otf') format('opentype');
}

@font-face {
    font-family: "SUIT_M";
    src: url('font/SUIT-Medium.otf') format('opentype');
}

@font-face {
    font-family: "SUIT_L";
    src: url('font/SUIT-Light.otf') format('opentype');
}

@font-face {
    font-family: "SUIT_B";
    src: url('font/SUIT-Bold.otf') format('opentype');
}

html, body {
    width: 100%;
    font-size: 14px;
    color: black;
    word-break: normal;
    overflow-wrap: break-word;
}

html {
    box-sizing: border-box;
    cursor: default;
    font-family: sans-serif;
    line-height: 1.5;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-weight: 700;
}

body.fontLoaded {
    font-family: SUIT, "UI Frip", "Noto Sans KR", Helvetica, Arial, sans-serif;
}

body {
    font-family: SUIT, "UI Frip", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    display: block;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

footer {
    display: block;
}

element.style {
    top: -88px;
    opacity: 1;
    display: block;
}

* {
    outline: none;
    font-family: inherit;
}

*, ::before, ::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}

::before, ::after {
    text-decoration: inherit;
    vertical-align: inherit;
}

::selection {
    background-color: #b3d4fc;
    color: #000000;
    text-shadow: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a, area, button, input, label, select, textarea, [tabindex] {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:-webkit-any-link {
    /* color: -webkit-link; */
    cursor: pointer;
    /* text-decoration: underline; */
}

a:hover {
    outline-width: 0;
}

b, strong {
    font-family: SUIT_B;
}

b, strong {
    font-weight: inherit;
}

strong {
    font-weight: bold;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul {
    list-style-type: disc;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

li {
    text-align: -webkit-match-parent;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p, label {
    margin: 0px;
}

img {
    border-style: none;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

button {
    cursor: pointer;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

button, input, select, textarea {
    background-color: transparent;
    border-style: none;
    color: inherit;
    font-size: 1em;
    margin: 0;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

input[type="search" i] {
    appearance: auto;
    box-sizing: border-box;
    padding-block: 1px;
    padding-inline: 2px;
}

input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
}

#app {
    background-color: white;
    min-height: 100%;
    min-width: 100%;
}

div {
    display: block;
}

section {
    display: block;
}

.appwrapper {
    position: relative;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.toptoastmesseage {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 88px;
    padding: 48px 0px 16px;
    background-color: rgb(2, 74, 149);
    color: white;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    z-index: 4000;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: top 100ms linear 0s;
}

.bottomtoastwrapper {
    position: fixed;
    left: 0px;
    width: 100%;
    z-index: 4000;
    bottom: 34px;
}

.toastpagewrapper {
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 808px;
    width: 100%;
    padding: 0px 20px;
    min-height: 1px;
}

.layouttopbanner-wrapper {
    background-color: rgb(122, 40, 250);
    height: 56px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.layouttopbanner-content {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    max-width: 930px;
    position: relative;
}

.layouttopbanner-content img {
    width: 100%;
}

.layouttopbutton-closebtn {
    cursor: pointer;
    width: 100%;
    max-width: 32px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
}

.globalnavigationbar-wrapper {
    width: 100%;
    border-bottom: 1px solid rgb(238, 238, 238);
    z-index: 300;
    font-family: SUIT_L;
}

.globalnavigationbar-topnavcontainer {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 32px;
    background-color: rgb(244, 244, 244);
}

.globalnavigationbar-topnavmenuwrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    max-width: 768px;
    width: 100%;
    padding: 6px 20px;
}

.globalnavigationbar-topnavmenunodelistwrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.globalnavigationbar-topnavmenunodelistwrapper a:first-child {
    margin-left: 0px;
}

.globalnavigationbar-topnavmenunodelistwrapper a {
    margin-left: 20px;
}

.withLink__StyledA-zuberk-1 {
    min-height: 1px;
}

.globalnavigationbar-topnavmenu {
    color: rgb(119, 119, 119);
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.3px;
    /* font-weight: 750; */
}

.withlink-styledlink-zuberk {
    font-family: SUIT_L;
    min-height: 1px;
}

.globalnavigaionbar-mainnavcontainer {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    font-family: SUIT_L;
}

.globalnavigaionbar-mainnavmenuwrapper {
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-width: 768px;
    width: 100%;
    padding: 22px 20px 8px;
}

.globalnavigaionbar-mainnavleftsection {
    display: flex;
    width: 100%;
}

.globalnavigationbar-mainnavmenu {
    width: 48px;
    height: 51px;
}

.globalnavigationbar-iconwrapper {
    display: flex;
    align-items: flex-end;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 34px;
}

.globalnavigationbar-mainlabel {
    display: block;
    margin-top: 3px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.3px;
    text-align: center;
    color: rgb(170, 170, 170);
}

.globalnavigationbar-pipe {
    width: 1px;
    height: 38px;
    background-color: rgb(238, 238, 238);
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
}

.balnavigationbar_mainlogo {
    margin: 17px 0px 17px 20px;
    width: 68px;
    height: 24px;
}

.globalnavigationbar-searchbarwrapper {
    height: 38px;
    padding: 0px 14px;
    margin-top: 10px;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}

.searchbar_wrapper {
    width: 100%;
}

.searchform {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 38px;
    padding: 0px 12px;
    border-radius: 19px;
    background-color: rgb(244, 244, 244);
    border: none;
}

.magnifierimg {
    margin-right: 5px;
    user-select: none;
}

.searchinput {
    width: 100%;
    color: rgb(51, 51, 51);
    height: 24px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
}

.searchinput::placeholder {
    color: #cdcdcd;
}

.globalnavigationbar-mainnavrigitsection {
    display: flex;
    width: 168px;
}

.pagewrapper {
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 808px;
    width: 100%;
    padding: 0px 20px;
    min-height: 1px;
}

.padded {
    padding: 0px 42px;
}

.left-leftpagetitle {
    margin: 24px 0px 16px;
    line-height: 20px;
    font-size: 20px;
    font-weight: 800;
}

.fade-wrapper {
    width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    display: none;
    opacity: 0;
    min-width: 0px;
    min-height: 1px;
}

.categorylist-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    justify-items: center;
}

.categorylist-wrapper > :nth-child(1) {
}

.categorylist-wrapper > * {
    display: table;
}

.categoryitem-a {
    width: 100%;
}

.categoryitem-category-a {
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url(https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/category-outdoor_gch4e1);
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-family: SUIT_M;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}

.categoryitem-backgrounddeemed {
    opacity: 0.2;
    background-color: rgb(17, 17, 17);
    height: 100%;
    width: 100%;
    left: 0px;
    bottom: 0px;
    position: absolute;
    border-radius: 5px;
}

.categoryitem-textdeemed {
    opacity: 0.2;
    background-image: linear-gradient(to right, rgb(3, 0, 0), rgba(2, 0, 0, 0.52), rgba(0, 0, 0, 0));
    width: 94px;
    height: 100%;
    left: 0px;
    bottom: 0px;
    position: absolute;
    border-radius: 5px;
}

.categoryitem-category-a > span {
    z-index: 1;
}

.categoryitem-category-b {
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url(https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/category-fitness_j83hn7);
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-family: SUIT_M;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}

.categoryitem-category-b > span {
    z-index: 1;
}

.categoryitem-category-c {
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url(https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/category-beauty_rckkzc);
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-family: SUIT_M;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}
.categoryitem-category-c > span {
    z-index: 1;
}

.categoryitem-category-d {
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url(https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/category-diy_racpb5);
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-family: SUIT_M;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}
.categoryitem-category-d > span {
    z-index: 1;
}

.categoryitem-category-e {
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url(https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/category-sports_k9xead);
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-family: SUIT_M;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}
.categoryitem-category-e > span {
    z-index: 1;
}

.categoryitem-category-f {
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url(https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/category-baking_ym1bmw);
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-family: SUIT_M;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}

.categoryitem-category-f > span {
    z-index: 1;
}

.categoryitem-category-g {
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url(https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/category-culture_bvlt2h);
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-family: SUIT_M;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}

.categoryitem-category-g > span {
    z-index: 1;
}

.categoryitem-category-h {
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url(https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/category-online_y7roxo);
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-family: SUIT_M;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}
.categoryitem-category-h > span {
    z-index: 1;
}

.categoryitem-category-i {
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url(https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/category-development_f4knbj);
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-family: SUIT_M;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}
.categoryitem-category-i > span {
    z-index: 1;
}

.categoryitem-category-j {
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url(https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/category-social_l5ypkp);
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-family: SUIT_M;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}

.categoryitem-category-j > span {
    z-index: 1;
}

.categoryitem-category-k {
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url(https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/category-store_ygtufv);
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-family: SUIT_M;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}

.categoryitem-category-k > span {
    z-index: 1;
}

.categoryitem-category-l {
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url(https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/%E1%84%89%E1%85%B5%E1%86%B7%E1%84%85%E1%85%B5%E1%84%89%E1%85%A1%E1%86%BC%E1%84%83%E1%85%A1%E1%86%B7_%E1%84%8F%E1%85%A1%E1%84%90%E1%85%A6%E1%84%80%E1%85%A9%E1%84%85%E1%85%B5_781c3f80bc5405b62c376e5028924addc30b6a1277cc600245ba83d729d906fb);
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-family: SUIT_M;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}

.categoryitem-category-l > span {
    z-index: 1;
}

.categoryitem-category-n {
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url(https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/v1/categories/display_category_8_p);
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-weight: 500;
    font-family: SUIT_M;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}
.categoryitem-category-n > span {
    z-index: 1;
}

.categoryitem-category-m {
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url(https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/v1/categories/display_category_14_p);
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-family: SUIT_M;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}

.categoryitem-category-m > span {
    z-index: 1;
}

.categoryitem-category-o {
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url(https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/v1/categories/display_category_13_p);
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-family: SUIT_M;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}

.categoryitem-category-o > span {
    z-index: 1;
}

.categoryitem-category-p {
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url(https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/v1/categories/display_category_2_p);
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-family: SUIT_M;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}

.categoryitem-category-p > span {
    z-index: 1;
}

.categoryitem-category-q {
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url(https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/v1/categories/display_category_18_p);
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-family: SUIT_M;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}

.categoryitem-category-q > span {
    z-index: 1;
}

.categoryitem-category-r {
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url(https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/v1/categories/display_category_17_p);
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-family: SUIT_M;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}

.categoryitem-category-r > span {
    z-index: 1;
}

.footer-wrapper {
    padding: 40px 20px 96px;
    font-family: SUIT_M;
    background-color: rgb(248, 248, 248);
}

.footer-content-wrapper {
    margin: 0px auto;
    width: 100%;
    max-width: 768px;
}

.footer-navwrapper {
    display: flex;
    font-size: 15px;
}

.footer-navwrapper > * {
    color: rgb(119, 119, 119);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -1px;
    margin-right: 30px;
}

.footer-navwrapper > :last-child {
    margin-right: 0px;
}

.section-container {
    display: flex;
    flex-direction: column;
}

.section-container:first-child {
    margin-top: 30px;
}

.section-title {
    color: rgb(51, 51, 51);
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

.section-description-container {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 19px 0px 0px;
    padding: 0px;
    list-style: none;
}

.section-subject {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.section-subject-title {
    display: block;
    margin-right: 8px;
    color: rgb(102, 102, 102);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.section-chatting-btn {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    cursor: pointer;
}

.section-talkmoreimage {
    width: 13px;
    height: 13px;
}

.section-buttontext {
    display: block;
    margin-left: 2px;
    color: rgb(51, 51, 51);
    font-size: 10px;
    font-weight: 700;
    line-height: 10px;
}

.section-container:not(:first-child) {
    margin-top: 20px;
}

.centersection-border {
    margin-top: 20px;
    border-top: 1px solid rgb(238, 238, 238);
}

.centersection-border-sc {
    margin-top: 30px;
    border-top: 1px solid rgb(238, 238, 238);
    margin-bottom: 30px;
}

.centersection-cscontent {
    color: rgb(119, 119, 119);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.3px;
}

.centersection-cscontent p:first-child {
    margin-top: 20px;
}

.centersection-cscontent p:not(:first-child) {
    padding-top: 12px;
}

.footer-companyheaderwrapper {
    display: flex;
}

.footer-header-sc {
    padding-bottom: 20px;
    font-size: 16px;
    font-family: SUIT_B;
    font-weight: 900;
    color: rgb(51, 51, 51);
}

.footer-content-sc {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-family: SUIT_L;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: -0.28px;
    color: rgb(153, 153, 153);
}

.footer-content-sc span {
    display: inline-block;
    margin: 3px 0px;
}

.footer-divider-sc {
    display: inline-block;
    padding: 0px 5px;
    color: rgb(224, 224, 224);
    font-size: 10px;
    line-height: 1.54;
}

.footer-content-sc p {
    line-height: 1.36;
    margin-top: 5px;
}

.footer-content-sc a {
    font-weight: bold;
}

.footer-contractwrapper {
    display: flex;
    margin: 20px 0px;
    font-size: 12px;
    color: rgb(51, 51, 51);
    line-height: 18px;
}

.footer-contractwrapper > :first-child {
    padding-left: 0px;
}

.footer-contractwrapper > * {
    padding-left: 6px;
    padding-right: 6px;
    border-right: 1px solid rgb(224, 224, 224);
    white-space: nowrap;
    line-height: 1;
    letter-spacing: -0.33px;
}

.footer-contractwrapper > :last-child {
    padding-right: 0px;
    border: none;
}

.footer-appdownloadbtn {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(51, 51, 51);
    height: 45px;
    color: white;
    font-size: 12px;
    font-family: SUIT_B;
    letter-spacing: -0.3px;
}

.footer-appicon-sc {
    width: 16px;
    height: 18px;
    margin-right: 5px;
}

.footer-footerfooter {
    display: flex;
    margin-top: 20px;
    color: rgb(155, 155, 155);
    font-size: 9px;
    line-height: 18px;
}

.footer-iconbtngroup-a {
    display:flex;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.footer-iconbtngroup-a > :first-child {
    margin-left: 0px;
}

.footer-iconbtngroup-a > * {
    margin-left: 20px;
}

.footer-iconbtngroup-b {
    display: flex;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.footer-iconbtngroup-b > :first-child {
    margin-left: 20px;
}

.footer-iconbtngroup-b > * {
    margin-left: 20px;
}