* {
    outline: none;
    font-family: inherit;
}

*, ::before, ::after {
    background-repeat: no-repeat;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    cursor: default;
    font-family: sans-serif;
    line-height: 1.5;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body {
    width: 100%;
    font-size: 14px;
    color: black;
    word-break: normal;
    overflow-wrap: break-word;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

a, area, button, input, label, select, textarea, [tabindex] {
    /* -ms-touch-action: manipulation; */
    touch-action: manipulation;
}

a, area, button, input, label, select, textarea, [tabindex] {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

button, input, select, textarea {
    background-color: transparent;
    border-style: none;
    color: inherit;
    font-size: 1em;
    margin: 0;
}

/* button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
} */

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

/* 'search' 타입인 input 태그의 스타일 지정 */
/* [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
} */

body {
    margin: 0;
    font-family: SUIT, "UI Frip", "Noto Sans KR", Helvetica, Arial, sans-serif;
}

body.font-loaded {
    font-family: SUIT, "UI Frip", "Noto Sans KR", Helvetica, Arial, sans-serif;
}

img {
    border-style: none;
}

h2 {
    margin: 0px;
    padding: 0px;
}

p, label {
    margin: 0px;
}

/* body.font-loaded 의 하위 요소 */
#app {
    background-color: white;
    min-height: 100%;
    min-width: 100%;
}

/* #app 의 하위 요소 */
.app-wrapper {
    position: relative;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

/* .app-wrapper 의 하위 요소 */
.layout-top-banner {
    background-color: rgb(122, 40, 250);
    height: 56px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

/* layout-top-banner 의 하위 요소 */
.layout-top-banner-content {
    -webkit-box-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 930px;
    position: relative;
}

.layout-top-banner-content a {
    color: inherit;
    text-decoration: none;
}

.layout-top-banner-content a img {
    width: 100%;
}

/* layout-top-banner-content 의 하위 요소 */
.layout-top-banner-close-btn {
    cursor: pointer;
    width: 100%;
    max-width: 32px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px;
}

.layout-top-banner-close-btn img {
    width: 16px;
}

/* .app-wrapper 의 하위 요소 */
.global-navigation-bar {
    width: 100%;
    border-bottom: 1px solid rgb(238, 238, 238);
    z-index: 300;
}

/* .global-navigation-bar 의 하위 요소 */
.top-nav-container {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 32px;
    background-color: rgb(244, 244, 244);
}

/* .top-nav-container 의 하위 요소 */
.top-nav-menu-wrapper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    max-width: 768px;
    width: 100%;
    padding: 6px 20px;
}

/* .top-nav-menu-wrapper 의 하위 요소 */
.top-nav-menu-node-list-wrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

/* .top-nav-menu-node-list-wrapper 의 하위에 있는 a 태그에 적용 */
.top-nav-menu-node-list-wrapper a {
    margin-left: 20px;
}

/*
    .top-nav-menu-node-list-wrapper 의 하위에 있는
    첫 번째 a 태그에만 적용
*/
.top-nav-menu-node-list-wrapper a:first-child {
    margin-left: 0;
}

/* .top-nav-menu-node-list-wrapper 의 하위 요소 */
.withlink-styled-a {
    min-height: 1px;
}

/* 화면 상단 내비게이션 영역 내 a 태그들의 최소 높이를 1px로 지정 */
.withlink-styled-link {
    min-height: 1px;
}

/*
    화면 최상단 회색 영역 내 내비게이션 메뉴들의 스타일 지정
*/
.top-nav-menu {
    color: rgb(119, 119, 119);
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.3px;
}

/* 화면 상단 아이콘 및 검색바가 위치한 공간의 스타일 지정 */
.main-nav-container {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

/* .main-nav-container 의 하위 요소 */
.main-nav-menu-wrapper {
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-width: 768px;
    width: 100%;
    padding: 22px 20px 8px;
}

/* main-nav-menu-wrapper 의 하위 요소 */
.main-menu-left-section {
    display: flex;
    width: 100%;
}

/* 내비게이션 메뉴 아이콘들이 있는 위치의 스타일 지정 */
.main-nav-menu {
    width: 48px;
    height: 51px;
}

/* 내비게이션 아이콘들의 스타일 지정 */
.icon-wrapper {
    display: flex;
    align-items: flex-end;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 34px;
}

/* 내비게이션 아이콘 아래 글자의 스타일 지정 */
.main-label {
    display: block;
    margin-top: 3px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.3px;
    text-align: center;
    color: rgb(170, 170, 170);
}

/* '카테고리' 메뉴와 검색창 사이의 여백 및 스타일 지정 */
.pipe {
    width: 1px;
    height: 38px;
    background-color: rgb(238, 238, 238);
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
}

/* FRIP 로고 들어갈 자리의 스타일 지정 */
.main-logo {
    margin: 17px 0px 17px 20px;
    width: 68px;
    height: 24px;
}

/* 검색창 위치의 스타일 지정 */
.search-bar-wrapper {
    height: 38px;
    padding: 0px 14px;
    margin-top: 10px;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}

/* 검색창을 한 번 더 wrapper로 감싸줌 */
.inner-search-bar-wrapper {
    width: 100%;
}

/* 검색창 스타일 지정 */
.search-form {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 38px;
    padding: 0px 12px;
    border-radius: 19px;
    background-color: rgb(244, 244, 244);
    border: none;
}

/* 검색창 옆 돋보기 이미지의 스타일 지정 */
.magnifier-img {
    margin-right: 5px;
    user-select: none;
}

/* 검색창 내 텍스트의 스타일 지정 */
.search-input {
    width: 100%;
    color: rgb(51, 51, 51);
    height: 24px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

/* 화면 상단 내비게이션 메뉴 우측의 아이콘 묶음들의 스타일 지정 */
.main-menu-right-section {
    display: flex;
    width: 168px;
}

/* main 태그 내에서 사용할 전반적인 스타일 지정*/
main.product-detail-page-wrapper {
    width: 100%;
    max-width: 828px;
    min-height: 1px;
    margin: 0px auto;
    padding-bottom: 100px;
    position: relative;
}

/* 특정 부분에 오는 요소들을 감싸는 공간의 스타일 지정 */
.fade-wrapper {
    width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    display: block;
    opacity: 1;
    min-width: 0px;
    min-height: 1px;
}

/* main 태그 부분 중앙에 오는 모든 요소들을 아래 클래스클 가진 div 태그로 감싸줌 */
.product-detail-page-content-wrapper {
    position: relative;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1 1 100%;
    width: 100%;
    height: auto;
    margin: 0px auto;
}

/* 위 영역을 한 번 더 아래 클래스를 가진 div 태그로 감싸줌 */
.product-detail-container {
    display: flex;
    flex-flow: column;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    width: 100%;
    min-width: 0px;
    padding: 40px 30px 30px;
}

/* 
    상품 이미지, 이름, 가격, 판매자 정보가 담긴 공간을 묶어주는 클래스
*/
.head-section-wrapper {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-width: 768px;
    padding-bottom: 24px;
}

/*
    .head-section-wrapper 클래스를 가진 태그보다
    하위에 있는 모든 요소들에 아래의 스타일 적용
*/
.head-section-wrapper > * {
    width: 50%;
    max-width: 375px;
}

/* 상품 이미지란의 스타일을 조정 */
.representation-image-section-wrapper {
    position: relative;
    min-height: 1px;
    text-align: center;
}

/* 
    .slick-slider 클래스를 사용하는 div 태그의 스타일 지정
    visibility 속성의 기본 값은 hidden 으로 설정
*/
.slick-slider {
    visibility: hidden;
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
}

/*
    .slick-initialized 클래스를 가진 div 태그 내 요소들에 대하여
    visibility 속성값을 visible 로 설정
*/
.slick-slider.slick-initialized {
    visibility: visible;
}

/* 
    .slick-slider 와 .slick-list 클래스를 가진 태그보다
    하위에 있는 요소(이미지)의 모서리를 둥글게 조정
*/
.slick-slider .slick-list {
    border-radius: 5px;
}

/*
    하위 요소들에 position: absolute 속성을 적용하기 위해
    position: relative 속성을 상위 태그인 이 클래스에 부여
*/
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* .slick-track 클래스를 사용하는 요소들의 앞, 뒤에 스타일 적용 */
.slick-track:before, .slick-track:after {
    display: table;
    content: '';
}

/*  */
.slick-track:after {
    clear: both;
}

/* .slick-slide 클래스를 사용하는 요소들에 스타일 적용 */
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

/*
    .slick-initialized 와 .slick-slide 클래스를 가진
    요소들을 블록 요소로 만들어줌
*/
.slick-initialized .slick-slide {
    display: block;
}

/* 상품 이미지란에 적용할 스타일 지정 */
.product-image-wrapper {
    min-height: 1px;
}

/* .slick-slide 클래스를 사용한 요소보다
    하위에 있는 img 태그는 블록 요소로 취급
*/
.slick-slide img {
    display: block;
}

.styled-image-loader {
    display: none !important;
}

.ratio-ratio {
    height: 0px;
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.ratio-content {
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

/* 사이트 접속 시에 보일 이미지 스타일 조정 */
.styled-image {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 상품 이미지 하단, 숫자를 표시할 공간의 스타일 작성 */
.index-container {
    width: 100%;
    position: absolute;
    bottom: 16px;
    color: rgb(255, 255, 255);
    font-size: 12px;
}

/* 숫자가 표시되는 곳의 스타일 작성 */
.index-number {
    padding: 6px 9px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 16px;
}

/* 상품 이름, 가격, 판매자 정보가 담긴 공간을 묶어주는 클래스 */
.info-section-wrapper {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0px 0px 0px 6px;
}

/* 위 클래스 내 요소들에 .section-wrapper 클래스를 부여하고,
    해당 요소들의 기본 스타일 지정
*/
.section-wrapper {
    border-bottom: 1px solid rgb(238, 238, 238);
    padding-top: 24px;
    padding-bottom: 24px;
    line-height: 1.8;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
}

/* 상품 이름, 가격 정보란의 스타일 작성 */
.basic-info {
    height: 100%;
    position: relative;
    padding: 0px 0px 12px;
    border-bottom: initial;
}

/* 상품 이름을 감쌀 공간의 스타일 작성 */
.product-title-wrapper {
    width: 100%;
    min-width: 0px;
}

/* 상품 제목의 스타일 작성 */
.product-title {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

/*
    아래의 상품 이름을 담을 요소의 클래스(.title)의 스타일을
    지정하기 전에, 기초적인 작업을 미리 해둠
*/
.title-container {
    display: flex;
    flex-direction: column;
}

/* 상품 이름 텍스트의 스타일 작성 */
.title {
    margin: 0px;
    max-width: 320px;
    line-height: 28px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.6px;
    word-break: keep-all;
    overflow-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    color: rgb(51, 51, 51);
}

/* 상품 이름 옆 공유버튼 들어갈 공간의 스타일 지정 */
.action-button-container {
    white-space: nowrap;
}

/* 위 클래스보다 하위의 요소 모두에 margin 적용 */
.action-button-container > * {
    margin-right: 20px;
}

/* 단, 그 중 마지막 요소에는 margin 적용 안 함 */
.action-button-container > :last-child {
    margin-right: 0;
}

/* 공유 버튼에 들어갈 스타일 작성 */
.button-share {
    cursor: pointer;
    padding: 0px;
}

/* 상품 가격이 들어갈 공간의 스타일 작성 */
.price-info-wrapper {
    display: flex;
    -webkit-box-align: baseline;
    align-items: baseline;
    flex-wrap: wrap;
    margin-top: 4px;
}

/* 상품 가격 텍스트(숫자)의 스타일 작성 */
.price-info-price {
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    letter-spacing: -0.72px;
    color: rgb(51, 51, 51);
    margin-right: 6px;
}

/* 상품 가격 중, 단위 부분의 스타일 작성 */
.price-unit {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.42px;
    color: rgb(51, 51, 51);
}

/*
    section-wrapper 클래스를 사용하는 태그 중,
    가장 마지막에 오는 태그에 해당 스타일 적용
*/
.section-wrapper:last-child{
    border-bottom: initial;
    padding-bottom: initial;
}

/* 상품 판매자 정보가 들어갈 공간의 스타일 작성 */
.host-profile {
    border-top: 1px solid rgb(238, 238, 238);
    padding-right: 12px;
}

/* 상품 판매자 정보란을 감싸는 태그의 스타일 작성 */
.profile-wrapper {
    display: flex;
    flex-flow: column;
}

/* 판매자 정보란의 스타일 작성 */
.profile {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
}

/* 판매자 이미지와 정보를 담는 공간의 스타일 작성 */
.profile-info {
    display: flex;
    width: 100%;
}

/* 판매자 이미지를 담는 공간의 스타일 작성 */
.profile-image {
    margin-right: 20px;
    overflow: hidden;
    width: 56px;
    height: 56px;
    min-width: 56px;
    border-radius: 28px;
}

/* 판매자의 프로필 이미지를 감쌀 공간의 스타일 작성 */
.profile-image-wrapper {
    min-height: 1px;
}

/* 프로필 이미지에 대한 스타일 작성 */
.host-image {
    display: initial;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 판매자 정보를 감쌀 공간의 스타일 작성 */
.profile-content {
    display: flex;
    flex-flow: column;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
}

/* 판매자 이름을 감쌀 부분의 스타일 작성 */
.host-name-wrapper {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    max-width: 212px;
}

/*  */
.profile-nickname {
    display: inline-flex;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.54px;
    color: rgb(51, 51, 51);
}

/* 판매자 정보(상품, 후기, 찜)를 담을 공간의 스타일 작성 */
.profile-stat {
    margin-top: 2px;
    color: rgb(170, 170, 170);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.36px;
}

/* 위 클래스를 사용한 태그 내 span 태그에는 아래의 스타일 적용*/
.profile-stat > span {
    color: rgb(221, 221, 221);
    font-size: 10px;
    vertical-align: top;
    display: inline-block;
    padding: 0px 6px;
}

/* 판매자 정보 옆의 찜 버튼을 감싸는 부분의 스타일 지정 */
.wish-button {
    width: 32px;
    height: 32px;
    line-height: normal;
    padding: 0px;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

/* 찜하기 버튼에 그림자 효과 부여 */
.wish-button > img {
    filter: drop-shadow(rgba(0, 0, 0, 0.4) 1px 1px 3px);
}

/* 후기 섹션을 감쌀 공간의 스타일 작성 */
.review-section-container {
    padding: 0px;
    border-top: 1px solid rgb(238, 238, 238);
    border-bottom: none;
}

/* 아래에 있는 별점 파트의 위치를 맞추기 위한 스타일 작성 */
.hidden-text {
    position: absolute;
    z-index: -1;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    border: 0px;
}

/* 리뷰 요약(별점)을 감쌀 공간의 스타일 작성 */
.review-summary-wrapper {
    padding: 57px 0px 24px;
    background-color: rgb(255, 255, 255);
}

/* 별점 및 요약이 들어간 공간의 스타일 작성 */
.review-info-section {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

/* 별 이미지를 감쌀 공간의 스타일 작성 */
.star-wrapper {
    display: flex;
    flex-flow: row;
}

/* 각 별 이미지 사이의 margin 조정 */
.star-wrapper > img {
    margin-right: 1px;
}

/* 평점 텍스트(숫자)를 표시할 부분의 스타일 작성 */
.review-average {
    margin: 0px 0px 0px 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

/* 평점 뒤에 오는 스타일 작성 */
.review-average::after {
    content: "•";
    width: 3px;
    height: 3px;
    padding: 0px 6px;
    color: rgb(119, 119, 119);
}

/* 후기 개수 텍스트의 스타일 작성 */
.review-summary-count {
    color: rgb(119, 119, 119);
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.42px;
}

/* 별점 아래 텍스트의 스타일 지정 */
.review-summary-comment {
    color: rgb(51, 51, 51);
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.54px;
    margin-top: 8px;
}

/* 상세 리뷰 섹션을 감싸는 공간의 스타일 작성 */
.review-section-wrapper {
    padding-top: 24px;
    border-top: 1px solid rgb(244, 244, 244);
    border-bottom: 1px solid rgb(244, 244, 244);
    background-color: rgb(250, 250, 250);
    overflow: hidden;
}

/*
    상세 리뷰 이미지 및 텍스트,
    리뷰 작성자 프로필 이미지 등을 감싸는 공간의 스타일 작성
*/
.review-card-list-wrapper {
    margin-bottom: 12px;
    padding: 0px 18px;
}

/*
    위의 클래스를 사용한 태그 안에서 한 번 더 
    감싸는 공간을 만들고, 스타일 작성
*/
.review-card-wrapper {
    display: flex;
    max-width: 720px;
    width: 100%;
}

/* 상세 리뷰 이미지의 스타일 작성 */
.review-card-image-section {
    border-radius: 3px;
    overflow: hidden;
    min-height: 232px;
    background-color: rgb(250, 250, 250);
    width: 100%;
    max-width: 326px;
    margin-right: 24px;
}

/* 리뷰 이미지를 감싸는 공간의 스타일 작성 */
.review-image-wrapper{
    min-height: 1px;
}

/* 상세 리뷰 이미지의 위치를 조정하는 스타일 작성 */
.review-ratio {
    height: 0px;
    position: relative;
    width: 100%;
    padding-top: 71.1656%;
}

/* 상세 리뷰 이미지에 대한 스타일 작성 */
.review-styled-image {
    display: initial;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 리뷰 작성자 정보 및 텍스트가 담길 공간의 스타일 작성 */
.review-card-info-section {
    width: 100%;
}

/* 리뷰 작성자 프로필이 들어갈 공간의 스타일 작성 */
.reviewer-profile-section {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 16px;
}

/* 리뷰 작성자의 프로필 이미지가 들어갈 공간의 스타일 작성 */
.reviewer-profile-image {
    width: 40px;
    height: 40px;
}

/* 리뷰 작성자 이미지를 감싸는 태그의 스타일 작성 */
.reviewer-image-wrapper {
    min-height: 1px;
}

/* 리뷰 작성자 프로필 이미지의 스타일 작성 */
.reviewer-styled-image {
    display: initial;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 리뷰 작성자의 닉네임을 표시할 공간의 스타일 작성 */
.reviewer-info {
    margin-left: 9px;
}

/* 리뷰 작성자 닉네임(텍스트)의 스타일 작성 */
.reviewer-name {
    color: rgb(51, 51, 51);
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.42px;
    font-weight: bold;
    margin-bottom: 1px;
}

/* 리뷰 작성자 정보와 리뷰 사이 공간을 띄워주기 위한 스타일 작성 */
.review-info-spacing {
    color: rgb(170, 170, 170);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.36px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

/* 작성한 리뷰란의 스타일 작성 */
.review-content {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: rgb(51, 51, 51);
    letter-spacing: -0.42px;
    margin-bottom: 22px;
    word-break: break-all;
    font-size: 14px;
    line-height: 22px;
    height: 66px;
}

/* 리뷰의 좋아요 버튼이 들어가는 공간의 스타일 작성 */
.review-like-button {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 36px;
    padding: 7px 15px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.42px;
    color: rgb(51, 51, 51);
    border: 1px solid rgb(221, 221, 221);
}

/* 좋아요 버튼 이미지의 스타일 작성 */
.review-like-button img {
    width: 15px;
    margin-right: 6px;
}

/* 후기 더보기란을 감쌀 공간의 스타일 작성 */
.review-section-link-wrapper {
    padding-top: 20px;
}

/* 후기 더보기 하이퍼링크의 스타일 작성 */
.review-styled-link {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(0, 117, 239);
    height: 56px;
    border-top: 1px solid rgb(244, 244, 244);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.48px;
}

/* 위 하이퍼링크 태그 안 img(파란 화살표)의 스타일 작성 */
.review-styled-link img {
    width: 12px;
    margin-left: 2px;
}

/*
    프립 정보, 소개, 진행하는 장소 섹션 및
    문의, 정책 메뉴가 포함된 섹션 모두에 같은 스타일 적용
*/
.misc-section-container {
    padding: 40px 0px;
    border-top: 1px solid rgb(238, 238, 238);
    border-bottom: none;
}

/* article 태그 내 제목 부분의 스타일 작성 */
.article-header {
    margin: 0px 0px 24px;
    padding: 0px;
}

/* article 제목의 스타일 작성 */
.article-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
}

/* article 정보가 담긴 공간의 스타일 작성 */
.info-container {
    margin: 0px;
    padding: 0px;
}

/* .info-container 클래스 요소 내 div 태그에 스타일 적용 */
.info-container > div {
    display: flex;
    margin: 0px 0px 12px;
}

/* 단, 그 중 마지막 div는 margin을 0으로 설정  */
.info-container > div:last-child {
    margin: 0px;
}

/* .info-container 클래스 내 div > dt 태그에 스타일 적용 */
.info-container > div > dt {
    width: 76px;
    color: rgb(153, 153, 153);
}

/* .info-container 클래스 내 div > dt 태그에 스타일 적용 */
.info-container > div > dd {
    margin: 0px;
}

/* 프립 소개 섹션 전반에 사용할 스타일 작성 */
.introduce-section-wrapper {
    min-height: 1px;
}

/* 프립 소개 섹션 내 article 태그의 제목 부분의 스타일 작성 */
.introduce-article-header {
    margin: 0 0 40px;
    padding: 0;
}

/* 프립 소개 이미지를 담을 공간의 스다일 지정 */
.description-container {
    margin: 0px 0px 82px;
}

/*
    위 클래스를 적용한 태그보다 하위에 있는
    .product-description 클래스가 적용된 요소의 스타일 작성 */
.description-container > .product-description {
    height: 657px;
    overflow: hidden;
}

/* 상품 소개 항목의 스타일 작성 */
.product-description {
    padding: 0 20px;
    margin: 0;
}

/*
    .product-description 클래스보다 하위에 있는 태그에,
    종류별로 다르게 적용할 스타일 작성
*/
.product-description {
    padding: 0 20px;
    margin: 0;
}

.product-description img {
    width: calc(100% + 40px);
    max-width: calc(100% + 40px);
    margin-left: -20px;
}

.product-description li {
    list-style-position: inside;
}

.product-description p {
    margin: 0;
}

.product-description span.fr-emoticon.fr-emoticon-img {
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
}

/* 상세정보 더보기 버튼이 들어갈 공간의 스타일 작성 */
.desc-button-container {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

/* 상세정보 더보기 버튼의 스타일 작성 */
.more-button {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 327px;
    height: 56px;
    border: 1.5px solid rgb(17, 17, 17);
}

/* '상세정보 더보기' 텍스트 옆, 화살표 아이콘을 담을 공간의 스타일 작성 */
.more-button-icon-container {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    transform: rotate(0deg);
}

/* 진행하는 장소 섹션 내 article 제목의 스타일 작성 */
.place-article-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 16px;
}

/*
    .place-section-container 클래스를 사용한 요소보다
    하위에 있는 모든 div 태그에 스타일 적용
*/
.place-section-container > div {
    margin: 0px 0px 68px;
}

/* 단, 마지막 요소는 margin 옵션을 다르게 적용 */
.place-section-container > div:last-child {
    margin: 0px 0px 20px;
}

/* 지도가 표시될 공간의 스타일 지정 */
.place-container {
    width: 100%;
    height: 249.6px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
}

.place-text-area {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
}